.container {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.leftContainer {
    display: flex;
    border-right: 1px solid grey;
    width: 300px;
    flex-shrink: 0;
}

.rightContainer {
    width: 100%;
    overflow: hidden;
}